@charset "UTF-8";
/* 
Sala Lounge Music
Sitio desarollado por:
Cesar Gaytán @ morphcom.com
 */


body {
background-color: #E6DEDE;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
color:#333333;
}

a{ text-decoration:none; color:#000;}

.clear{ clear:both; }

h1{ font-size: 18px; color:#C00;}

#center{
width:744px;
margin-left:auto;
margin-right:auto;
text-align:left;
}

#content{ background-image:url('/assets/sheet.jpg'); background-repeat:repeat-y; padding:10px; padding-left:30px; padding-right:30px;}

#logo{
background-image:url('/assets/logo_subpages.jpg'); width:744px; height:188px;
}

#site_index{
background-image:url('/assets/site.jpg'); 
width:744px; height:305px;
}

#menu{ width:460px; float:right; text-align:right; margin-top:30px; margin-right:10px;}

#menu .active{ color:#CC0000; font-weight:bold;}
#login_menu{ width:400px; float:right; text-align:right; margin-top:15px; font-weight:bold; margin-right:10px;}
#footer{ text-align:center; padding-top: 20px;}
#footer_player{text-align:right; padding-right:10px;}
#footer_img{ background-image:url('/assets/footer.jpg'); 
width:744px; height:105px;}
